{% load staticfiles %}

{% verbatim %}

<div class="row">
    <div class="col-sm-12">
        <p>
            You can search for author by his name here. Enter author's name and select
            an author you want to display detailed information about. List of author's
            articles will be displayed along with most frequent coreferrers if that data
            is available.
        </p>
        <br/>
    </div>
</div>
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 text-center">
        <form name="authorSearchForm" role="form">
            <div class="form-group">
                <label for="author-srch">Search authors:</label>
                <input type="text" class="form-control" id="author-srch" ng-model="authorQueryText"
                       ng-change="onAuthorQuery()" autofocus>
            </div>
        </form>
    </div>
    <div class="col-sm-3"></div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div ng-if="authorRequestPending" class="text-center">
            <span class="glyphicon glyphicon-refresh spinning"></span> Loading...
        </div>
        <div ng-if="authorRequestError" class="text-center">
            An error has occurred while fetching authors. Try rerunning your request.
        </div>
        <div ng-repeat="author in authorSearchResults">
            <a ui-sref="author-details({id: '{{author.id}}'})"><strong>{{author.full_name}}</strong></a><br/>
            <div ng-show="author.hasOwnProperty('mostCitedArticles') && author.mostCitedArticles.length > 0">
                <small>Known for:</small>
                <div ng-repeat="article in author.mostCitedArticles">
                    <a target="_blank" href="{{article.location}}">{{article.title}}</a><br/>
                </div>
            </div>
            <br/>
        </div>
        <div class="text-center">
            <p ng-show="item_count == 0 && !authorRequestPending && authorQueryText != ''">
                No results found.
            </p>
            <ul class="pagination pagination-sm"  ng-hide="Shared.requestPending || item_count < 10">
                <li><a ng-show="pagination.first" ng-click="gotoPage(1)">First</a></li>
                <li><a ng-show="pagination.previous.enabled"
                       ng-click="gotoPage(pagination.previous.page)">Previous</a></li>
                <li>
                    <a ng-show="pagination.more_left.enabled"
                       ng-click="gotoPage(pagination.more_left.page_num)">...</a>
                </li>
                <li ng-repeat="p in pagination.pages" ng-class="{active: !p.enabled}">
                    <a ng-click="gotoPage(p.page_num)">{{p.page_num}}</a>
                </li>
                <li>
                    <a ng-show="pagination.more_right.enabled"
                       ng-click="gotoPage(pagination.more_right.page_num)">...</a>
                </li>
                <li><a ng-show="pagination.next.enabled"
                       ng-click="gotoPage(pagination.next.page)">Next</a></li>
            </ul>
        </div>
    </div>
</div>

{% endverbatim %}